<%- include('./templates/header.ejs') %>
    <%- include('./templates/nav.ejs') %>

<main class="container">
    <h1>CREAR NUEVA PELICULA</h1>
    <section class="mb-5"> 
<form action="/movies/new" method="POST">
<input type="text" id="titulo" name="titulo" placeholder="escribe aqui el titulo de la pelicula" class="from-control mb-2">
<input type="text" id="director" name="director" placeholder="director de la pelicula" class="from-control mb-2">
<input type="text" id="año" name="año" placeholder="año de publicacion" class="from-control mb-2">
<input type="text" id="genero" name="genero" placeholder="genero de pelicula" class="from-control mb-2">
<input type="text" id="duracion" name="duracion" placeholder="duracion"class="from-control mb-2">

<input type="submit" class="from-control btn btn-primary">
</form>
    </section>
</main>
    <%- include('./templates/footer.ejs') %>