<%- include('./admin/templates/header.ejs') %>
    <%- include('./admin/templates/nav.ejs') %>
<main>
    <h1>EDITAR PELICULA</h1>
    <section class="mb-5"> 
<form action="/admin/movies/edit" method="POST">
    <input type="text" id="titulo" name="titulo" placeholder="escribe aqui el titulo de la pelicula">
    <input type="text" id="director" name="director" placeholder="director de la pelicula">
    <input type="text" id="año" name="año" placeholder="año de publicacion">
    <input type="text" id="genero" name="genero" placeholder="genero de pelicula">
    <input type="text" id="duracion" name="duracion" placeholder="duracion">
    <input type="submit"><!-- esto debe ir en esta rama o en otra a parte -->

</form>
    </section>
</main>
    <%- include('./admin/templates/footer.ejs') %>