<%- include('./templates/header.ejs') %>
    <%- include('./templates/nav.ejs') %>
<main>
    <h1>EDITAR PELICULA</h1>
    <section> 
        <form action="/admin/edit" method="POST">
                    <input type="text" id="title" name="title" placeholder="escribe aqui el titulo de la pelicula">
                    <input type="text" id="director" name="director" placeholder="director de la pelicula">
                    <input type="number" id="year" name="year" placeholder="año de publicacion" >
                    <input type="text" id="genre_id" name="genre_id" placeholder="genero de pelicula">
                    <input type="number" id="duration" name="duration" placeholder="duration" >
                    <a href="/admin/movies"></a>
                    <input type="submit" >
                    <a href="/admin">ATRAS</a>
        </form>
    </section>
</main>
    <%- include('./templates/footer.ejs') %>