<%- include('./templates/header.ejs') %>
    <%- include('./templates/nav.ejs') %>
<main>
    <h1>EDITAR PELICULA</h1>
    <section class="mb-5"> 
        <form action="/movies" method="POST">
            <input type="text" id="titulo" name="titulo" placeholder="escribe aqui el titulo de la pelicula">
            <input type="text" id="director" name="director" placeholder="director de la pelicula">
            <input type="number" id="año" name="año" placeholder="año de publicacion">
            <input type="text" id="genero" name="genero" placeholder="genero de pelicula">
            <input type="number" id="duracion" name="duracion" placeholder="duracion">
            <input type="submit">
        </form>
    </section>
</main>
    <%- include('./templates/footer.ejs') %>