<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>
<main>   
    <h1>Todas las peliculas</h1>
       <form action="">
        <!-- buscar -->
            <label for="busqueda"></label>
            <input type="text" id="busqueda" name="busqueda" placeholder="busca una pelicula">
            <label for="submit"></label>
            <input type="button" id="boton" name="boton" value="buscar">
       </form>  
       <button>CREAR UNA PELI</button>          
        <section>
            <div>
                <a href="/editMovies" ><button>EDITAR</button></a>
                <a href="" ><button>ELIMINAR</button></a>
                
            </div>
            <div>
                <p>AÑO</p>
                <p>DURACION</p>
                <p>GENERO</p>
            </div>
            <div>
                <h2>TITULO DE LA PELICULA</h2>
                <p>DIRECTOR</p>

            </div>
            <div>
                <img src="" alt="">
            </div>
        </section>
        </section>
</main>

<%- include('./templates/footer.ejs') %>