<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">INDEX USUARIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/movies">PELICULAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/myMovies">MIS PELICULAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">CERRAR SESION</a>
        </li>
    </ul>
</nav>