<nav>
    <p>BARRA DE NAVEGACION</p>
    <ul class="nav">
        <li>
             <a href="/dashboard">INDEX USUARIOS</a>
        </li>
        <li>
             <a href="/search">BUSCADOR</a>
        </li>
        <li>
             <a href="/movies">MIS PELICULAS</a>
        </li>
        <li>
             <a href="/homePage">CERRAR SESION</a>
        </li>

    </ul>
</nav>