<%- include('./templates/header.ejs') %>
   
<article>
<form>
    <input type="text" id="email" name="email" placeholder="escribe tu contraseña">
    <input type="text" id="nombre" name="nombre" placeholder="vuelve a escribir tu contraseña">
</form>
</article>
<%- include('./templates/footer.ejs') %>
