<%- include('./templates/header.ejs') %>

<button class="login">login</button>
<article>
    <form>
        <input type="text" id="email" name="email" placeholder="escribe aqui tu mail">
        <input type="text" id="password" name="password" placeholder="escribe aqui tu contraseña">
        <input type="text" id="password" name="password" placeholder="vuelve a escribir tu contraseña">
        <input type="submit">
    </form>
</article>
 <%- include('./templates/footer.ejs') %>