<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>
<button class="login">login</button>
<article>
    <form>
        <input type="text" id="email" name="email" placeholder="escribe aqui tu mail">
        <input type="text" id="nombre" name="nombre" placeholder="escribe aqui tu contraseña">
        <input type="text" id="nombre" name="nombre" placeholder="vuelve a escribir tu contraseña">
        <input type="submit">
    </form>
</article>
 <%- include('./templates/footer.ejs') %>