<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie app de admin</title>
</head>
<body>
    <header>
        <h1>Proyecto de aplicacion de busqueda de peliculas(admin)</h1>
       
    </header>
