<%- include('./templates/header.ejs')  %>
<%- include('./templates/nav.ejs')  %>
<h1>USUARIOS</h1> 
<main>
    <a href="/search"><button>Buscar una peli</button></a>
    <a href="/movies"><button>Mis pelis</button></a>
</main>

<%- include('./templates/footer.ejs')  %>