<%- include('./templates/header.ejs')  %>
<%- include('./templates/nav.ejs')  %>
<h1>USUARIOS</h1> 
<main>
    
    <div id="search container">
        <button type="button" id="search-button" class="btn btn-primary">BUSCAR UNA PELI</button>
        </div>
        <button type="button" id="search-button" class="btn btn-primary">MIS PELIS</button>
        </div>
       
</main>

<%- include('./templates/footer.ejs')  %>