<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>
    <main>
        <h2>Peliculas</h2>
        <section>
            <label for="busqueda"></label>
                <a href=""><input type="text" id="busqueda" name="busqueda" placeholder="busca una pelicula"></a>
                <input type="button" id="boton" name="boton" value="buscar">
                <div>
                    <a href="users/my-movies"><button>favoritos</button></a>
                    </div>
                <label for="submit"></label>
                <input type="button" id="boton" name="boton" value="buscar"><p>BUSCAR</p>
                </div>
                    <div>
                        <h2>Titulo de la Pelicula:</h2>
                        <p>Director:</p>
                        <p>Año:</p>
                        <p>Duracion:</p>
                        <p>Genero:</p>
                    </div>  
                    <div>
                        <img src="" alt="">
                    </div>
                <section>
    </section>
</main>

<%- include('./templates/footer.ejs') %>