<%- include('./templates/header.ejs') %>
<%- include('./templates/nav.ejs') %>
    <main>
        <h2>Peliculas</h2>
        <section>
            <label for="busqueda"></label>
                <a href="/search"><input type="text" id="busqueda" name="busqueda" placeholder="busca una pelicula"><p>BUSCAR</p></a>
                <div>
                    <li class="nav-item" class="nav-link active" aria-current="page">
                        <a href="/users/my-movies">FAVORITOS</a>
                    </li>
                    </div>
                </div>
                    <div>
                        <h2>Titulo de la Pelicula:</h2>
                        <p>Director:</p>
                        <p>Año:</p>
                        <p>Duracion:</p>
                        <p>Genero:</p>
                    </div>  
                <div><!-- multer -->
                    <img src="" alt="">
                </div>
                <a href="/dashboard">ATRAS</a>
        </section>
    </main>

<%- include('./templates/footer.ejs') %>